[D-BUS Service]
Name=org.freedesktop.Tracker1.Miner.Files
Exec=/usr/libexec/tracker-miner-fs

# Miner details needed for tracker-control
Path=/org/freedesktop/Tracker1/Miner/Files
DisplayName=File System
DisplayName[ar]=نظام الملفات
DisplayName[as]=ফাইল চিস্টেম
DisplayName[ca]=Sistema de fitxers
DisplayName[ca@valencia]=Sistema de fitxers
DisplayName[cs]=Souborový systém
DisplayName[da]=Filsystem
DisplayName[de]=Dateisystem
DisplayName[el]=Σύστημα αρχείων
DisplayName[en_GB]=File System
DisplayName[eo]=Dosiersistemo
DisplayName[es]=Sistema de achivos
DisplayName[et]=Failisüsteem
DisplayName[eu]=Fitxategi-sistema
DisplayName[fi]=Tiedostojärjestelmä
DisplayName[fr]=Système de fichiers
DisplayName[gl]=Sistema de ficheiros
DisplayName[he]=מערכת קבצים
DisplayName[hu]=Fájlrendszer
DisplayName[id]=Sistem Berkas
DisplayName[it]=File system
DisplayName[ja]=ファイルシステム
DisplayName[ko]=파일 시스템
DisplayName[lt]=Failų sistema
DisplayName[lv]=Datņu sistēma
DisplayName[ml]=ഫയല്‍സിസ്റ്റം
DisplayName[nb]=Filsystem
DisplayName[nds]=Dateisystem
DisplayName[nl]=Bestandssysteem
DisplayName[pa]=ਫਾਇਲ ਸਿਸਟਮ
DisplayName[pl]=System plików
DisplayName[pt]=Sistema de ficheiros
DisplayName[pt_BR]=Sistema de arquivos
DisplayName[ro]=Sistem de fișiere
DisplayName[ru]=Файловая система
DisplayName[sk]=Súborový systém
DisplayName[sl]=Datotečni sistem
DisplayName[sr]=Систем датотека
DisplayName[sr@latin]=Sistem datoteka
DisplayName[sv]=Filsystem
DisplayName[te]=దస్త్ర వ్యవస్థ
DisplayName[tr]=Dosya Sistemi
DisplayName[uk]=Файлова система
DisplayName[zh_CN]=文件系统
DisplayName[zh_HK]=檔案系統
DisplayName[zh_TW]=檔案系統
Comment=File system data miner
Comment[ar]=مُنقِّب بيانات نظام الملفات
Comment[as]=ফাইল চিস্টেম তথ্য মাইনাৰ
Comment[ca]=Extractor de dades de fitxers del sistema
Comment[ca@valencia]=Extractor de dades de fitxers del sistema
Comment[cs]=Démon na dolování dat ze souborového systému
Comment[da]=Dataindeksering af filsystem
Comment[de]=Dateisystem-Indizierung
Comment[el]=Εξορύκτης δεδομένων από τα αρχεία συστήματος
Comment[en_GB]=File system data miner
Comment[es]=Minero de datos del sistema de archivos
Comment[et]=Failisüsteemi andmekaevur
Comment[eu]=Fitxategi-sistemako datuen biltzailea
Comment[fr]=Collecteur de données du système de fichiers
Comment[gl]=Mineiro de datos do sistema de ficheiros
Comment[hu]=Fájlrendszer-adatbányász
Comment[id]=Penambang data sistem berkas
Comment[it]=Estrattore di dati dal file system
Comment[ja]=ファイルシステムからデータを収集します
Comment[ko]=파일 시스템 데이터 수집기
Comment[lt]=Failų sistemos duomenų rinkiklis
Comment[lv]=Datņu sistēmas datu racējs
Comment[nb]=Filsystem datagraver
Comment[nl]=Dataminer bestandssysteem
Comment[pa]=ਫਾਇਲ ਸਿਸਟਮ ਡਾਟਾ ਮਾਈਨਰ
Comment[pl]=Przeszukiwanie danych w systemie plików
Comment[pt]=Analisador do sistema de ficheiros
Comment[pt_BR]=Mineração de dados do sistema de arquivos
Comment[ro]=Miner date din sistemul de fișiere
Comment[ru]=Индексатор данных файловой системы
Comment[sk]=Dolovač údajov pre súborový systém
Comment[sl]=Podatkovno rudarjenje datotečnega sistema
Comment[sr]=Копач података система датотека
Comment[sr@latin]=Kopač podataka sistema datoteka
Comment[sv]=Datainsamlare för filsystem
Comment[uk]=Індексатор даних файлової системи
Comment[zh_CN]=文件系统数据挖掘器
Comment[zh_HK]=檔案系統資料礦工
Comment[zh_TW]=檔案系統資料礦工
User=root
