'' AT OK-AT-OK AT
ABORT 'BUSY'
ABORT 'NO CARRIER'
ABORT 'VOICE'
ABORT 'NO DIALTONE'
ABORT 'NO DIAL TONE'
ABORT 'NO ANSWER'
ABORT 'DELAYED'
'' ATZ
TIMEOUT 3
OK-AT-OK AT+CPIN?
READY-AT+CPIN=%PIN%-OK AT
TIMEOUT 45
OK-AT-OK AT+COPS?
OK-AT-OK AT+CSQ
OK-AT-OK AT+CGDCONT=1,"IP","%APN%"
OK-AT-OK AT+CGATT=1 
OK-AT_OK AT+CREG? ,1 AT
OK-AT-OK ATD*99***1#
CONNECT ''
