<div class="header-logo">
  <img src="./img/home/header_livebox.png" class="header-logo-img">
</div>
<div class="header-login">
  <span class="header-login-font"><a href="#"><span class="Translation" data-translation="header.authenticated.logout.label"></span></a></span>
</div>
<div class="header-access">
  <div class="header-access-element"><a href="#"><img src="./img/first_install/acces_aide.svg"></a></div>
  <div class="header-access-element"><a href="#"><img src="./img/first_install/acces_fr.svg"></a></div>
  <div class="header-access-element"><a href="#"><img src="./img/first_install/acces_eng.svg"></a></div>
  <div class="header-access-element"><a href="#"><img src="./img/first_install/acces_contrast.svg"></a></div>
  <div class="header-access-element"><a href="#"><img src="./img/first_install/acces_zoom.svg"></a></div>
</div>
