<iframe id="app_iframe" class="app_iframe" style="display:none;"></iframe>
<div id="main_header" class="container-fluid main-header">
  <!-- headerTemplate-->
  {{> headerTemplate}}        
</div>

<div id="main_content" class="container main-content">  
  <div class="row" id="panel_template_container">
    <!-- panelTemplate -->
    {{> panelTemplate}}
  </div>
</div>

<div id="main_footer" class="container main-footer">
  <div class="row">
    <div class="col-xs-12 focus-panel">
      <div class="footer-content" id="footer_template_container">
        <!-- footerTemplate -->
        {{> footerTemplate}}
      </div>
    </div>
  <div>
</div>
