#
# Copyright (C) 2015 Sagemcom Broadband SAS – All rights reserved
#
# This Copyright notice should not be removed
#

# Name, Path and Ressource for FAN Control
##########################################

# Name and Path of Fan Control Daemon
SERVICE_NAME="fancontrold"
SERVICE_COMMAND="/usr/sbin/$SERVICE_NAME"

# Name and Path of PID Fan Control Daemon
SERVICE_PID_FILE="/var/run/$SERVICE_NAME.pid"

# Temperature Sensor Near SFP
#############################

# HWMON Name and I2C Address of First Sensor
TEMP1_SENSOR_CHIP=tmp112:72
TEMP1_READ_FIELD=temp1_input

# Min Temperature to Start FAN
MIN_TEMP1=67
# Max Temperature to Set FAN at Full Speed
MAX_TEMP1=77

# Temperature Sensor Near BCM
#############################

# HWMON Name and I2C Address of Second Sensor
TEMP2_SENSOR_CHIP=tmp112:73
TEMP2_READ_FIELD=temp1_input

# Min Temperature to Start FAN
MIN_TEMP2=80
# Max Temperature to Set FAN at Full Speed
MAX_TEMP2=90

# Delta Temperature (in °C) If SFP Module Plugged
#   This Parameter is used to reduce 
#   min temperature for sensor near BCM
DELTA_SFP=5

# Temperature Limits For HDD
############################

# Min Temperature to Start FAN
MIN_HDD_TEMP=53
# Max Temperature to Set FAN at Full Speed
MAX_HDD_TEMP=63

# Temperature Limit For HDD Warning Too High Temperature
WARN_HDD_TEMP=63
# Path and Name of Warning File
WARN_HDD_TEMP_FILE="/var/run/$SERVICE_NAME.warn"

# Temperature Limit To Force HDD Shutdown
#   At this Temrature eSATA Power is CUTTED
STOP_HDD_TEMP=65

# PWM Sensor Informations
#########################

# HWMON Name and I2C Address of PWM
FAN_SENSOR_CHIP=mib4_fan
FAN_CONTROL_FIELD=pwm1

# Min PWM Value to Start FAN
PWM_FAN_MIN=52
# Max PWM to Set FAN at Full Speed
PWM_FAN_MAX=255

# General Parameters
####################

# Polling Delay to manage FAN (in S)
POLL_DELAY=15

# Delta Temperature (in °C) From Min Temp Before Stopping FAN
#   When FAN was started, this Parameter is used to 
#   Reduce Min Temperature Before Stopping FAN
DELTA_STOP=5

# Log Enable With Path and Name Log File
LOG_ENABLE=1
#if (!defined EXT_SAGEM_SERVICES_FANCONTROLD)
LOG_FILE="/var/log/$SERVICE_NAME.log"
#else
LOG_FILE="/var/log/messages"
#endif
